/* JAI SIYA RAM */

@font-face {
    font-family: Gilroy-Light;
    src: url(../fonts/Gilroy/Gilroy-Light.ttf);
}

@font-face {
    font-family: Gilroy-Regular;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-Ultralight;
    src: url(../fonts/Gilroy/Gilroy-UltraLight.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Gilroy-Semibold;
    src: url(../fonts/Gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Gilroy-Ultrabold;
    src: url(../fonts/Gilroy/Gilroy-ExtraBold.ttf);
}

@font-face {
    font-family: Gilroy-Heavy;
    src: url(../fonts/Gilroy/Gilroy-Heavy.ttf);
}

@font-face {
    font-family: Gilroy-Thin;
    src: url(../fonts/Gilroy/Gilroy-Thin.ttf);
}

@font-face {
    font-family: Kajiro;
    src: url(../fonts/Kajiro/Kajiro-Bold.ttf);
}

@font-face {
    font-family: Caveat-Bold;
    src: url(../fonts/Caveat/static/Caveat-Bold.ttf);
}

@font-face {
    font-family: Caveat-Medium;
    src: url(../fonts/Caveat/static/Caveat-Medium.ttf);
}

@font-face {
    font-family: Caveat-Semibold;
    src: url(../fonts/Caveat/static/Caveat-SemiBold.ttf);
}

@font-face {
    font-family: Caveat-Regular;
    src: url(../fonts/Caveat/static/Caveat-Regular.ttf);
}

@font-face {
    font-family: Buttermilk;
    src: url(../fonts/Buttermilk/Buttermilk.ttf);
}

@font-face {
    font-family: Tenuity;
    src: url(../fonts/Tenuity/Tenuity.ttf);
}

@font-face {
    font-family: Molgak-Classy;
    src: url(../fonts/Molgak_Classy/MolgakClassyRegular-lgX7d.ttf);
}

@font-face {
    font-family: Majer;
    src: url(../fonts/Majer/Majer.ttf);
}

@font-face {
    font-family: Gratitude;
    src: url(../fonts/Gratitude/Gratitude.ttf);
}

@font-face {
    font-family: Rustea;
    src: url(../fonts/Rustea/Rustea.ttf);
}

@font-face {
    font-family: Heirloom-Regular;
    src: url(../fonts/Heirloom/BLTHeirloom-Regular.ttf);
}

@font-face {
    font-family: Heirloom-Light;
    src: url(../fonts/Heirloom/BLTHeirloom-Light.ttf);
}

@font-face {
    font-family: Heirloom-Bold;
    src: url(../fonts/Heirloom/BLTHeirloom-Bold.ttf);
}

@font-face {
    font-family: Famanthalio;
    src: url(../fonts/Famanthalio/Famanthalio.ttf);
}